.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pokemon-card {
  background-color: rgba(#fff,.75);
  text-align: center;
  border-radius: $border-radius;
  transition: all $transition-duration $transition-curve;
  position: relative;

  &:hover {
    background-color: #fff;
    transform: scale(1.02);
  }
}

.pokemon-card__link {
  display: block;
  padding: 1em;
}