@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import 'normalize';

$red: #ff0000;
$red-dark: #cc0000;
$blue: #3b4cca;
$yellow: #ffde00;
$gold: #b3a125;
$dark-grey: #333333;
$light-grey: #fafafa;
$pink-1: #f857a6;
$pink-2: #ff5858;
$transition-duration: 0.1s;
$transition-curve: ease;
$border-radius: .25em;
$font-size-small: .75em;

$type-colours-index: (
  normal    #A8A878,
  fire      #F08030,
  water     #6890F0,
  grass     #78C850,
  electric  #F8D030,
  ground    #E0C068,
  flying    #A890F0,
  poison    #A040A0,
  fighting  #C03028,
  psychic   #F85888,
  dark      #705848,
  rock      #B8A038,
  bug       #A8B820,
  ghost     #705898,
  steel     #B8B8D0,
  dragon    #7038F8,
  fairy     #FFAEC9
);

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $pink-1;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  color: $dark-grey;
  line-height: 1.4;
  padding: 3em;
  background: linear-gradient(to right, $pink-1, $pink-2);
}

input[type="text"] {
  padding: .8em;
  border: 0;
  border-radius: $border-radius;
}

.site-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.site-logo {
  max-width: 300px;
}

.list-search {
  display: flex;
  justify-content: center;
  padding: 1em;
  background: linear-gradient(to right, $pink-1, $pink-2);
  position: sticky;
  top: 0;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  font-size: 1.2em;
  text-align: center;
  background-color: rgba(#fff, .65);
  transition: all $transition-duration $transition-curve;

  &:focus {
    background-color: #fff;
  }
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pokemon-card {
  background-color: rgba(#fff,.75);
  text-align: center;
  border-radius: $border-radius;
  transition: all $transition-duration $transition-curve;

  a {
    display: block;
    padding: 1em;
  }

  &:hover {
    background-color: #fff;
    transform: scale(1.02);
  }
}

.back-link {
  display: block;
  margin: 0 auto 2em;
  text-align: center;
  color: #fff;
  font-size: $font-size-small;
  opacity: .5;
  transition: opacity $transition-duration $transition-curve;

  &:hover {
    opacity: 1;
  }
}

.pokeman-profile {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: $border-radius;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.pokeman-profile--name {
  margin-bottom: 0;
}

.types-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2em;
  padding: 0;
  list-style: none;
  font-size: .65em;

  li {
    padding: .75em 1em;
    margin: .5em;
    background-color: $red;
    border-radius: $border-radius;
    color: #fff;

    @each $value in $type-colours-index {
      &.#{nth($value, 1)} {
        background-color: #{nth($value, 2)};
      }
    }
  }
}

.stats-table {
  width: 100%;
  font-size: $font-size-small;

  tr:nth-child(odd) {
    background-color: $light-grey;
  }

  td {
    width: 50%;
    vertical-align: top;
    padding: 1em;
  }

  td:first-child {
    text-align: right;
    color: lighten($dark-grey, 30%);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li:not(last-child) {
    margin-bottom: .5em;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
